table,th,td{
    border: 1px solid black;
}
table{
    width: auto
}
td{
    text-align: center;
}

.exercicio{
    text-align: left;
}

img{
    height:280px;
}

.data{
    display:flex;
    list-style: none;
    padding:0;
    margin:0;
   
}

header li{
    margin: 0 30px;
}
